<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">                          {{! This is the main content area for help.hbs }}
        {{>header}}                                     {{! This is the header partial {header.hbs} }}
        <p>{{helpText}}</p>                             {{! Template literal for help text from app.js }}
    </div>

    {{>footer}}                                         {{! This is the footer partial {footer.hbs} }}
</body>
</html>