<header>                            {{! This is the header partial }}
    <h1>{{title}}</h1>              {{! Template literal for title from the app.js}}

    <a href="/">Weather</a>         {{! Link to the weather page }}
    <a href="/about">About</a>      {{! Link to the about page }}
    <a href="/help">Help</a>        {{! Link to the help page }}
</header>